{% extends "common/base.html" %}

{% block title %}
    <title>BoxOffice | Theatres</title>
{% endblock %}

{% block content %}

	
	{% for category in theatres %}
	<div class="jumbotron" id="{{ category.0.city }}-theatres">
	    <div class="text-center">
	    	<h2>Theatres in {{ category.0.city }}</h2>
	    </div>
	    <ul>
		    {% for theatre in category %}
			<li><a href="{% url 'theatre_details' theatre.id %}">{{ theatre.name }} | {{ theatre.address }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}

{% endblock %}